.navigation {
	display: flex;
}

.navigation a {
	color: #fff;
	font-weight: 700;
	font-size: 1rem;
	margin: 25px 30px;
}

.title {
	display: flex;
}

.title span {
	color: #fff;
	font-weight: 700;
	font-size: 5rem;
	margin: 25px 30px;
}
